<div class="session"><% form_for @map_area  do |a|%>
name: <br/>
<%= a.text_field :name, :class=>"large_input" %><br/>

craigslist <br/>
<%= text_field_tag :craigslist, nil, :class=>"large_input",:size=>10 %>".craigslist.org/<%= text_field_tag :region, nil, :class=>"large_input", :size=>5 %><br/>

records expire in: <%= a.text_field :expires_in, :size=>5, :class=>"large_input" %> days 

<br/><br/>
<div style="position:absolute; left:310px">
	lat:<%= a.text_field :lat, :size=>15, :class=>"large_input" %> <br/>
	lng:<%= a.text_field :lng, :size=>15, :class=>"large_input" %>
</div>

<div id="map" style="width: 300px; height: 300px; cursor:crosshair"></div>

<%= submit_tag "submit"%>
<% end%>
</div>