<%= @map_areas.length %> areas collected <br/>
<%= link_to "add new area", new_map_area_path  %>
<div id="stats"  style="position:absolute;left:700px; background: #fff; width:300px; padding:5px margin-top:-25px; white-space: nowrap;">
	stats

	<%= debug @stats %> 

</div>
<div id="map" style="width:700px; height:500px;">
	
</div>
<table border="0" cellspacing="5" cellpadding="5" style="background:#fff">
	<tr><th>name</th><th> craigslist </th><th> expire records (days) </th></tr>

	<%for area in @map_areas %>
<tr> 
	<td> <%= link_to area.name, edit_area_path(area), :title=>"edit" %> </td>
	<td> <%= area.craigslist %><%= "/#{area.region}"%>  </td>
	<td>  <%= area.expires_in %> </td>
	<td> <%= link_to "list", list_houses_path(area) %> </td>
	 </tr>
	<%end%>

</table>


