<%= render :partial => 'layouts/action_bar' %>
<div id="bug" style="margin:20px; background: #fff; width:600px; padding:20px">
	<h3>File a bug/feature request </h3>
	<% form_tag file_bug_report_path do%>
	<label>title:</label><br/>
	<%= text_field_tag :title, @title, :class=>"large_input", :size=>50 %><br/>
	<label>comments:</label><br/>
	<%= text_area_tag :body, @body, :class=>"large_input", :cols=>54, :rows=>15 %><br/>

	<%= select_tag :type, options_for_select(['bug', 'feature request']), :class=>"large_input"%>
	<%= submit_tag "submit"%>
	<% end%>
</div>