<div class="search" style="width:690px;">
<h3>Choose a city to search within:</h3>
</div>

<div id="map" class="clear_border" style="width: 700px; height:400px;" ></div>


<div id="homes_list_title" style="position:absolute; top:25px; left:725px; overflow-y: auto; white-space: nowrap; overflow-x:hidden; width:450px; height:50px; background:#fff; padding:5px">
<h3><%= @map_areas.length %> cities to pick from <br/>
	<span class="little" style="float:right"><%= @houses %> houses collected so far today. <%= House.count %> houses total.</span></h3>
	</div>
<div id="home_list" style="position: absolute; top:65px; left:725px; overflow-y: auto; white-space: nowrap; overflow-x:hidden; width:450px; height:382px; background:#fff; padding:5px">
	
<%= render :partial => 'houses/city_list', :locals=>{:map_areas=>@map_areas} %>

</div>
<%= render :partial => 'houses/banner_ads' %>


