<div id="left_container" style="width:500px; float:left;  margin-top:10px;">
	<div class="search">
		<% form_tag search_path do%>
		<table style="width:100%">
		  <tr>
        <td>	min: $<%= text_field_tag :min_price, session[:min_price], :size=>6, :class=>"small_input"%> 
        max: $<%= text_field_tag :max_price, session[:max_price], :size=>6, :class=>"small_input" %> 
        <%= check_box_tag :dogs, "1", session[:dogs]=="1" %> dogs
        <%= check_box_tag :cats, "1", session[:cats]=="1" %> cats </td>
        <td class="right"><%= submit_tag "filter"%></td>
      </tr>
      <tr>
        <td>
          <%= select_tag :bedrooms, options_for_select({'all size'=>-1,'studio'=>0, "1"=>1, "2"=> 2 , "3"=>3, "4"=>4, "5"=>5},session[:bedrooms] ? session[:bedrooms].to_i : -1), :class=>"small_input", 
                         :onchange=>"if(this.options[this.selectedIndex].value!=-1){$('bed_options').show();}else{$('bed_options').hide()};if(this.options[this.selectedIndex].value=='1'){$('plural').hide()} else{$('plural').show()}" %>
          bedroom<span id="plural">s</span>
          <span id="bed_options" style="<%= 'display:none;' if session[:bedrooms].to_i == -1 || session[:bedrooms].nil? %>">
          
          <%= select_tag :bedroom_operator, options_for_select({"or more"=>"more", "and smaller"=>"less"}, session[:bedroom_operator]) %>
        </td> 
        
        <td class="right"><%= link_to "clear", clear_search_path%></td>
      </tr>
    </table>
		<% end%>
	</div>

	<div id="map" class="clear_border" style="width: 500px; height:400px;" ></div>	
	
		<div id="short_list_title" style=" margin-top:10px; background: #fff; width:490px; padding:5px; height:50px; margin-bottom:-10px;">
			<h3>the short list <br/>		<div id="legend"style="margin: 3px;"><b class="little">
				<%= image_tag '/images/my_house.png', :size=>'12x12' %> saved house | <%= image_tag '/images/clicked_house.png', :size=>'12x12' %> viewed house | 	<%= image_tag '/images/new_house.png', :size=>'12x12' %> unviewed house | <%= image_tag '/images/pic_bullet.png', :size=>'20x20' %> has image</b>
			</div></h3>
		</div>
		<div id="short_list" style=" background: #fff; width:490px; overflow-y: auto; white-space: nowrap; overflow-x:hidden; height: 200px; padding:5px">
			<%= render :partial => 'houses/short_list' %>
		</div>
	
</div>

<div id="right_container" style="margin-left:520px;">
	<div id="homes_list_title" style="width:500px; height:40px; background:#fff; padding:5px;">
		<div id="city_details">
			<%= render :partial => 'city_details' %>

		</div>
		<div id="change_city" style="display:none;">
		
		</div>
	</div>
	<div id="home_list" style="overflow-y: auto; white-space: nowrap; overflow-x:hidden; width:500px; height:626px; background:#fff; padding:5px; padding-bottom:20px;">
	  <%= render :partial => 'houses/home_list', :locals=>{:houses=>@houses} %>
	</div>	
	
	<%if logged_in? %>	

	<% end %>
</div>



<%#= render :partial => 'houses/banner_ads' %>



	
	






<div id="close_sv" style="position:absolute; padding:5px; z-index:100;left:905px; margin-top:<% if logged_in? %> -30px; <% else %>0px; <% end %>0px; color:#fff; background:#000; display:none;" >
	<%= link_to "close streetview", "#", :onclick=>"sv.remove();$('sv').hide();$('image_pane').innerHTML='';$('image_pane').show();$('close_sv').hide();", :style=>"color:#fff"%>
	
</div>