<div id="search">
	<% form_tag search_path do%>
	$<%= text_field_tag :min_price, @min_price, :size=>6, :class=>"small_input"%> min
	$<%= text_field_tag :max_price, @max_price, :size=>6, :class=>"small_input" %> max
	<%= check_box_tag :show_saved, "1", @show_saved %> show only my short list
	<%= submit_tag "filter"%>
	<% end%>
</div>

<div id="map" class="clear_border" style="width: 500px; height:400px;" ></div>


<div id="homes_list_title" style="position:absolute; top:25px; left:525px; overflow-y: auto; white-space: nowrap; overflow-x:hidden; width:500px; height:50px; background:#fff; padding:5px">
<h3>homes in boulder</h3>
	</div>
<div id="home_list" style="position: absolute; top:65px; left:525px; overflow-y: auto; white-space: nowrap; overflow-x:hidden; width:500px; height:370px; background:#fff; padding:5px">
	
<%= render :partial => 'houses/home_list', :locals=>{:houses=>@houses} %>

</div>
<div id="short_list_title" style=" margin-top:10px; background: #fff; width:490px; padding:5px; height:50px; margin-bottom:-10px;">
<h3>the short list <br/> <b style="font-size:10.5px;">your short listed houses are blue on the map</b></h3>
	</div>
<div id="short_list" style="position:absolute; background: #fff; width:490px; overflow-y: auto; white-space: nowrap; overflow-x:hidden; height: 200px; padding:5px">
	
	<%= render :partial => 'houses/short_list' %>
	
	
</div>
<div id="image_pane" style="position:absolute; background:none; padding:5px; left:525px; margin-top:-60px;">

</div>
<div id="sv" style="width: 500px; height:400px; position:absolute; background:#000; padding:5px; left:525px; margin-top:-60px; display:none;">

</div>
<div id="close_sv" style="position:absolute; padding:5px; z-index:100;left:905px; margin-top:-50px; color:#fff; background:#000; display:none;" >
	<%= link_to "close streetview", "#", :onclick=>"sv.remove();$('sv').hide();$('image_pane').show();$('close_sv').hide();", :style=>"color:#fff"%>
	
</div>