<div class="search">
	<% form_tag search_path do%>
min: $<%= text_field_tag :min_price, @min_price, :size=>6, :class=>"small_input"%> 
max: $<%= text_field_tag :max_price, @max_price, :size=>6, :class=>"small_input" %> 
	<%= check_box_tag :show_saved, "1", @show_saved %> show only my short list	
<div style="position:absolute; top:0px; right:20px">	<%= button_to "clear", clear_search_path %></div>
	<div style="position:absolute; top:0px; right:0px"><%= submit_tag "filter"%></div>


	<% end%>
</div>

<div id="map" class="clear_border" style="width: 500px; height:400px;" ></div>

<div id="homes_list_title" style="position:absolute; top:25px; left:525px; width:500px; height:40px; background:#fff; padding:5px; z-index:100">
	<div style="float:right" class="pagination" >
       <%= will_paginate @houses, :page_links => false%> <span class="little"><%= "displaying #{@houses.offset + 1} - #{@houses.offset + @houses.length} of #{@total} "%></span> 
    </div>
<h3><%= @map_area.name.titlecase %> <span class="little"><%= link_to "change city", :action=>:choose_area %>
	
	
	</span> <span class="little" style="float:left"><%= @houses_collected %> houses collected so far today</span></h3>
	
	</div>
<div id="home_list" style="position: absolute; top:70px; left:525px; overflow-y: auto; white-space: nowrap; overflow-x:hidden; width:500px; height:376px; background:#fff; padding:5px">
	<% @houses = current_user.saved_houses + @houses if logged_in? and current_user.saved_houses %>
<%= render :partial => 'houses/home_list', :locals=>{:houses=>@houses} %>

</div>


<%= render :partial => 'houses/banner_ads' %>


	<%if logged_in? %>
	
	<div id="short_list_title" style=" margin-top:10px; background: #fff; width:490px; padding:5px; height:50px; margin-bottom:-10px;">
	<h3>the short list <br/>		<div id="legend"style="margin: 3px;"><b class="little">
			<%= image_tag '/images/my_house.png', :size=>'12x12' %> saved house | <%= image_tag '/images/clicked_house.png', :size=>'12x12' %> viewed house | 	<%= image_tag '/images/new_house.png', :size=>'12x12' %> unviewed house | <%= image_tag '/images/pic_bullet.png', :size=>'20x20' %> has image</b>
			</div></h3>
		</div>
	<div id="short_list" style="position:absolute; background: #fff; width:490px; overflow-y: auto; white-space: nowrap; overflow-x:hidden; height: 200px; padding:5px">
	
		<%= render :partial => 'houses/short_list' %>
		
	<% else %>
		<div id="short_list_title" style=" margin-top:0px; background: #fff; width:490px; padding:5px; height:35px; margin-bottom:-10px;">
		<h3>	<div id="legend"style="margin: 3px;"><b class="little">
					<%= image_tag '/images/my_house.png', :size=>'12x12' %> saved house | <%= image_tag '/images/clicked_house.png', :size=>'12x12' %> viewed house | 	<%= image_tag '/images/new_house.png', :size=>'12x12' %> unviewed house | <%= image_tag '/images/pic_bullet.png', :size=>'20x20' %> has image</b>
					</div></h3>
			</div>
		<div id="short_list" style="position:absolute; background: #fff; width:500px; padding:5px margin-top:-25px; overflow-y: auto; white-space: nowrap; overflow-x:hidden; height: 200px;">
		<h1><%= link_to "sign up", signup_path, :title=>"sign up...its quick.", :class=>"remote_link" %></h1>
		<div style="margin-top:5px;margin-left:90px">	<%= image_tag '/images/up_arrow_mirror.png' %></div>
		
			<div class="little" style="margin-top:-55px;margin-left:150px;">to save houses you like and trash ones you don't (ads go away too!)</div>

	<% end %>

	
	
</div>

<div id="images_and_streetview" style="position:absolute; height:400px; width:500px;  background:#fff; padding:5px; left:525px;margin-top:<% if logged_in? %> -60px; <% else %>-35px; <% end %>">
		<h3>images and streetview</h3>
		<div id="image_pane"></div>
		<div id="sv" style="width: 500px; height:400px; position:absolute; background:#000; padding:5px; display:none; ">
			<center><%= image_tag '/images/loader_black.gif' %></center>
		</div>
</div>



<div id="close_sv" style="position:absolute; padding:5px; z-index:100;left:905px; margin-top:<% if logged_in? %> -30px; <% else %>0px; <% end %>0px; color:#fff; background:#000; display:none;" >
	<%= link_to "close streetview", "#", :onclick=>"sv.remove();$('sv').hide();$('image_pane').innerHTML='';$('image_pane').show();$('close_sv').hide();", :style=>"color:#fff"%>
	
</div>